@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100%;
  background: #F2F2F2;
}

.header{
  position: fixed;
  background: #FFFFFF;
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

  .header .logo{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2rem;
  }

    .logo img{
      width: 100px;
    }

  .header .navigation{
    padding-right: 2rem;
  }

    .navigation ul{
      display: flex; 
    }

      .navigation ul li{
        list-style: none;
      }

      .navigation ul .nav-icon{
        text-decoration: none;
        text-transform: capitalize;
        margin: 0 1rem;
        color: #0e2431;
        font-size: 1.25rem;
      }

.home{
  position: relative;
  color: #002057;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

  .home h3{
    font-size: 1.5rem;
    font-weight: 700;
  }

  .home h1{
    font-size: 3rem;
    font-weight: 800;
  }

  .home h1 span{
    color: #ff7b00;
  }

  .home a{
    background: #2506AD;
    font-weight: bolder;
    text-decoration: none;
    color: #F2F2F2;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    animation: bounce 2s ease infinite;
    transition: ease-in-out 0.3s;
  }

  .home a:hover{
    background: transparent;
    color: #0e2431;
    border: 1px solid #2506AD;
  }

  @keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	  40% {transform: translateY(-1rem);}
	  60% {transform: translateY(-0.5rem);}
}

.about{
  background: #F2F2F2;
  color: #222629;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 88vh;
  padding: 1rem;
}

  .about .left-content{
    width: 50%;
    padding: 1rem;
  }

  .about .left-content p{
    text-align: justify;
  }

  .about .right-content{
    width: 50%;
    padding: 1rem;
  }

  .right-content a{
    text-decoration: none;
  }

    .right-content .icon-social{
      font-size: 1.5rem;
      color: #F2F2F2;
    }

.skill{
  color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

  .skill .skill-container{
    font-size: 5rem;
    margin-top: 1rem;
  }

    .skill-container .icon-skill{
      text-decoration: none;
      color: #F2F2F2;
      opacity: 0.5;
      filter: grayscale(100%);
    }

    .skill-container .icon-skill:hover{
      opacity: 1;
      filter: none;
    }

    .skill-container .icon-skill img{
      width: 7rem;
    }

.project{
  color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}