@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Body Section Start */
body{
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100%;
  background: #F2F2F2;
}
/* Body Section End */


/* Navigation Section Start */
.header{
  position: fixed;
  background: #FFFFFF;
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

  .header .logo{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2rem;
  }

    .logo img{
      width: 50px;
    }

  .header .navigation{
    padding-right: 2rem;
  }

    .navigation ul{
      display: flex; 
    }

      .navigation ul li{
        list-style: none;
      }

      .navigation ul .nav-icon{
        text-decoration: none;
        text-transform: capitalize;
        margin: 0 1rem;
        color: #0e2431;
        font-size: 1.25rem;
      }

      .navigation ul .nav-icon.active,
      .navigation ul .nav-icon:hover{
      color: #4a00e0;
      border-bottom: 0.2rem solid #4a00e0;
      }
/* Navigation Section End */

/* Home Section Start */
.home{
  position: relative;
  color: #002057;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
}

  .home h3{
    font-size: 1.5rem;
    font-weight: 700;
  }

  .home h1{
    font-size: 3rem;
    font-weight: 800;
  }

    .home h1 span{
      color: #ff7b00;
    }

    .home p{
      text-align: center;
    }

  .home a{
    background: #4a00e0;
    font-weight: bolder;
    text-decoration: none;
    color: #F2F2F2;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    animation: bounce 2s ease infinite;
    transition: ease-in-out 0.3s;
  }

  .home a:hover{
    background: transparent;
    color: #0e2431;
    border: 1px solid #4a00e0;
  }

  @keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	  40% {transform: translateY(-1rem);}
	  60% {transform: translateY(-0.5rem);}
}
/* Home Section End */

/* About Section Start */
.about{
  background: #F2F2F2;
  color: #0e2431;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 1rem 5rem;
}

  .about .head-content{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-top: 5rem;
  }

    .head-content h1{
      font-size: 2rem;
      font-weight: 800;
    }

      .head-content h1 span{
        color: #4a00e0;
      }

  .about .main-content{
    display: flex;
  }

    .main-content .top-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
      width: 100%;
    }

      .top-content h1{
        text-align: left;
        width: 100%;
      }

      .top-content h1 span{
        color: #ff7b00;
      }

      .top-content h2{
        width: 100%;
        text-align: left;
        font-size: 1rem;
        font-weight: 600;
        width: 100%;
      }

      .top-content p{
        text-align: justify;
        font-size: 1rem;
      }

    .main-content .bottom-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding-left: 5rem;
    }

      .bottom-content a{
        text-decoration: none;
      }

      .bottom-content .my-sosmed{
        display: flex;
      }

        .my-sosmed .icon-social{
          font-size: 1.5rem;
          color: #0e2431;
          margin: 0 1rem;
        }
/* About Section End */

/* Skill Section Start */
.skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background: #4a00e0;
  padding: 1rem;
}

  .skill h1{
    font-size: 2rem;
    font-weight: 800;
    margin-top: 5rem;
  }

    .skill h1 span{
      color: #ffe600;
    }

  .skill p{
    font-size: 1rem;
  }

  .skill .skill-container{
    font-size: 5rem;
    margin-top: 1rem;
  }

    .skill-container .icon-skill{
      text-decoration: none;
      color: #F2F2F2;
      opacity: 0.5;
      filter: grayscale(100%);
    }

    .skill-container .icon-skill:hover{
      opacity: 1;
      filter: none;
    }

    .skill-container .icon-skill img{
      width: 5rem;
    }
/* Skill Section End */

/* Project Section Start */
.project{
  color: #0e2431;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 100vh;
}

  .project h1{
    font-size: 2rem;
    font-weight: 800;
    margin-top: 5rem;
  }

  .project p{
    font-size: 1rem;
  }
/* Project Section End */

/* Responsive Web Start */
@media only screen and (max-width: 858px) {
  /* Responsive Navigation Start */
  .header{
    display: flex;
    background: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
  }

    .header .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      width: 100%;
      background: #FFFFFF;
      padding: 0.5rem 0;
    }

      .logo img{
        width: 50px;
      }

    .header .navigation{
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      width: 100%;
      height: 5rem;
      background: #FFFFFF;
      bottom: 0;
    }

      .navigation ul{
        align-items: center;
        justify-content: center;
      }

      .navigation .nav-icon{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 0.25rem;
      }
  /* Responsive Navigation End */

  /* Responsive Home Start */
  .home{
    padding: 1rem;
  }
  /* Responsive Home End */

  /* Responsive About Start */
  .about{
    padding: 1rem;
  }

  .about .main-content{
    display: flex;
    flex-direction: column;
  }

    .main-content .bottom-content{
      padding: 2rem 0 0 0;
    }
  /* Responsive About End */
  
  /* Responsive Skills Start */
  .skill{
    padding: 1rem;
  }


  .skill .skill-container{
    font-size: 5rem;
    margin-top: 1rem;
  }

  .skill-container .icon-skill img{
    width: 20%;
  }
  /* Responsive Skills End */

  /* Responsive Project Start */
  .project{
    padding: 1rem;
  }
  /* Responsive Project End */
}
/* Responsive Web End */